.leftSide {
  width: 150px;
  /* position: -webkit-sticky; */
  /* top: 50px; */
  height: auto;
  padding-top: 20px;
  padding-left: 10px;
  z-index: -1;
}

li {
  list-style: none;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  font-size: 12px;
  color: gray;
  position: sticky;
  top: 70px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  margin-top: 20px;
}
